<!DOCTYPE html>
<html>
<head>
	<title>Reporte por Oficina</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/uikit.css' />
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Stardos+Stencil'/>
	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<script src="/javascripts/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
	<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</head>
<body style="background: none">

<div class="uk-container">

	<h1>Ingrese los parámetros de búsqueda</h1>

	<form action="/reports/oficina" method="POST" class="uk-grid-small" uk-grid>
		<div class="uk-width-1-4">
	        <input class="uk-input" type="date" id="fechaInicio" name="fechaInicio" value="<%= fechaInicio %>">
	    </div>
	    <div class="uk-width-1-4">
	        <input class="uk-input" type="date" id="fechaFin" name="fechaFin" value="<%= fechaFin %>">
	    </div>
		<div class="uk-width-1-4">
		    <select name="oficina" class="uk-select">
		    	<option value="">Seleccione una Oficina</option>
		    	<% var oficinaS = "hola" %>
		        <% if (oficinas != "") { %>
					<% oficinas.forEach(function(oficina) { %>
				        <option value="<%= oficina.oficina %>"><%= oficina.oficina %></option>
				        <% oficinaS = oficina.oficina %>
				    <% }); %>
				<% } %>
		    </select>
		</div>
		<div class="uk-width-1-2">
		    <input type="submit" name="buscar" value="Buscar" class="uk-button uk-button-primary uk-width-1-2">
		</div>
		<div class="uk-width-1-2">
		    <a href="/reports/oficina" class="uk-button uk-button-secondary uk-width-1-2">Ejecutar otra búsqueda</a>
		</div>
	</form>

	<hr/>
	
	<%if (resultados) { %>
	<div class="report">
	<div id="top">
		<h2 style="word-break: break-all;">Reporte de atenciones agrupados por Oficina <%= oficinaS %></h2>
		<table class="uk-table uk-table-striped" width="100%" id="table">
			<thead>
			<tr>
				<th width="15%">#</th>
				<th width="25%">Oficina</th>
				<th style="text-align: center;" width="30%">Personas <br/>Atendidas</th>
				<th style="text-align: center;" width="30%">Promedio <br/>en Minutos</th>
			</tr>
			</thead>
			<tbody>
			<% var index = 0, pATotal=0, pMATotal=0; %>
			<% oficinasFinal.forEach(function(oficina) { %>
				<% index++; pATotal+=oficina.pA; pMATotal+=oficina.pMA %>
				<tr>
					<td><%= index %></td>
		        	<td><%= oficina.oficina %></td>
		        	<td style="text-align: center;"><%= oficina.pA %></td>
		        	<td style="text-align: center;"><%= oficina.pMA %></td>
		    	</tr>
		    <% }); %>
		    </tbody>
		    <tfoot>
			<tr>
				<th>-</th>
				<th>Total</th>
				<th style="text-align: center;"><%= pATotal %></th>
				<th style="text-align: center;"><%= Math.round(pMATotal/index) %></th>
			</tr>
			</tfoot>
		</table>
	</div>
	<canvas id="myChart" width="1000" height="500"></canvas>

	<script>
	var labelIn = <%- JSON.stringify(labels) %>;
	var personasAtendidas = <%- JSON.stringify(personasAtendidas) %>;
	var promMinutosAtendidos = <%- JSON.stringify(promMinutosAtendidos) %>;
	
	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: labelIn,
	        datasets: [
	        {
	            label: 'Número de atenciones',
	            data: personasAtendidas,
	            backgroundColor: 'rgba(255, 99, 132, 0.2)',
	            borderColor: 'rgba(255,99,132,1)',
	            borderWidth: 1
	        },
	        {
	            label: 'Tiempo Promedio',
	            data: promMinutosAtendidos,
	            backgroundColor: 'rgba(54, 162, 235, 0.2)',
	            borderColor: 'rgba(54, 162, 235, 1)',
	            borderWidth: 1
	        }
	        ]
	    },
	    options: {
	    	responsive: false,
	        scales: {
	            yAxes: [{
	            	stacked: false,
	                ticks: {
	                    beginAtZero:true
	                }
	            }],
	            xAxes: [{
			      	gridLines: {
			        	display: true
			      	}
			    }]
	        }
	    }
	});
	</script>
		<input type="button" name="" onclick="print_report()" value="print_report" />
		<script type="text/javascript">

		var divHeight;
		var obj = document.getElementById('top');
		var oficina = "<%= oficinaS %>" ;
		var ptExtra = 0;

		if(obj.offsetHeight) {
			divHeight=obj.offsetHeight;
		} else if(obj.style.pixelHeight){
			divHeight=obj.style.pixelHeight;
		}

		if(oficina != "") {ptExtra = 90} else{ ptExtra = 10};

		function print_report(){

			html2canvas(document.querySelector("#myChart")).then(function (canvas) {

				var myImage = canvas.toDataURL("image/png");
				// Adjust width and height
				var imgWidth = (canvas.width * 20) / 38;
				var imgHeight = (canvas.height * 20) / 38; 
				var tableHeight = (divHeight * 20) / 38;

				var doc = new jsPDF('p','pt','a4');

				// We'll make our own renderer to skip this editor
				var specialElementHandlers = {
					'#editor': function(element, renderer){
						return true;
					},
					'.controls': function(element, renderer){
						return true;
					}
				};

				// All units are in the set measurement for the document
				// This can be changed to "pt" (points), "mm" (Default), "cm", "in"
				doc.fromHTML($('.report').get(0), 45, 35, {
					'width': 500,
					//'elementHandlers': specialElementHandlers
				});
				//doc.addPage();
				doc.addImage(myImage, 'JPEG', 35, tableHeight + ptExtra, imgWidth, imgHeight); // 2: 19
				doc.save("Reporte_Oficina.pdf");
			});
		}

	</script>
	</div>
	<% } %>
	
</div>

</body>
</html>